<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<!-- Navigation-->
<nav th:replace="fragments/nav :: nav(${category!=null} ? ${category} : '',${username!=null} ? ${username} : null)"/>
<!-- Header-->
<header class="bg-dark py-5">
    <link rel="stylesheet" href="/css/shoppingcart-web-new.ko_KR.css" type="text/css">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Book Store</h1>
            <p class="lead fw-normal text-white-50 mb-0">책 사주세요</p>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

</header>
<!-- Section-->
<section class="py-5">

    <br>
    <br>

    <div class="container align-content-center">

        <form method="post" action="/order/pay">
            <div class="form-group row">
                <label for="text" class="col-2" >이름</label>
                <div class="col-3">
                        <input id="text" name="username" th:value="${username}" type="text" class="form-control-sm">
                </div>
            </div>
            <div class="form-group row">
                <label for="text2" class="col-2 col-form-label" th:name="deliveryRequest">배송 요청사항</label>
                <div class="col-8">
                    <input id="text2" name="text2" type="text" class="form-control-sm">
                </div>
            </div>

            <table>
                <colgroup>
                    <col style="width:20%">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th>우편번호</th>
                    <td>
                        <input type="hidden" id="confmKey" name="confmKey" value="">
                        <input type="text" id="zipNo" th:name="zipcode" readonly style="width:100px" class="form-control-sm">
                        <input type="button" value="주소검색" onclick="goPopup();">
                    </td>
                </tr>
                <tr>
                    <th>도로명주소</th>
                    <td><input type="text" id="roadAddrPart1" style="width:85%" class="form-control-sm" th:name="addrPart1"></td>
                </tr>
                <tr>
                    <th>상세주소</th>
                    <td>
                        <input type="text" id="addrDetail" style="width:40%" value="" class="form-control-sm" th:name="addrDetail">
                        <input type="text" id="roadAddrPart2" style="width:40%" value="" class="form-control-sm" th:name="addrPart2">
                    </td>
                </tr>
                </tbody>
            </table>

            <br>
            <div>
                총 금액 : <span th:text="${totalPrice}"></span><span>원</span>

            </div>

            <div class="form-group row">
                <div class="offset-4 col-8">
                    <input type="hidden" name="orderId" th:value="${orderId}" />
                    <span>테스트 결제입니다. 실제로 결제가 이루어지나. 밤 12시가 지나면 환불됩니다.<br></span>
                    <button name="submit" type="button" onclick="requestPay()" class="btn btn-primary">결제</button>
                    <button name="submit2" type="submit" class="btn btn-primary">결제과정 생략하고 결제</button>
                </div>
            </div>
        </form>
    </div>


</section>
<!-- Footer-->
<!-- Footer-->
<footer th:replace="fragments/footer :: footer"/>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
<script type="text/javascript" th:inline="javascript">

    IMP.init("imp56029372");

    function requestPay() {
        // IMP.request_pay(param, callback) 호출
        IMP.request_pay({ // param
            pg: "kcp",
            pay_method: "card",
            merchant_uid: [[${orderUuid}]],
            name: "책",
            amount: [[${totalPrice}]],
            buyer_email: "gildong@gmail.com",
            buyer_name: [[${username}]],
            buyer_tel: "010-4242-4242",
            buyer_addr: $("#roadAddrPart1").val(),
            buyer_postcode: $("#zipNo").val()
        }, function (rsp) { // callback
            if (rsp.success) {
                jQuery.ajax({
                    url: "/order/payCheck",
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    data: JSON.stringify({
                        imp_uid: (rsp.imp_uid),
                        merchant_uid: (rsp.merchant_uid)
                    })
                }).done(function (data){
                    if (data.code = "success") {
                        alert(data.message);
                        location.href = "/order/list";
                    }
                    else{
                        alert(data.message);
                    }
                    // //가맹점 서버 결제 api 성공시 로직
                    // alert("가맹점 서버 결제 api 성공");

                })
                // 결제 성공 시 로직,

            } else {

                alert("가맹점 서버 결제 api 실패")
                // 결제 실패 시 로직,

            }
        });
    }


    function goPopup() {
        // 호출된 페이지(jusopopup.jsp)에서 실제 주소검색URL(https://www.juso.go.kr/addrlink/addrLinkUrl.do)를 호출하게 됩니다.
        var pop = window.open("/popup/jusoPopup", "pop", "width=570,height=420, scrollbars=yes, resizable=yes");

        // 모바일 웹인 경우, 호출된 페이지(jusopopup.jsp)에서 실제 주소검색URL(https://www.juso.go.kr/addrlink/addrMobileLinkUrl.do)를 호출하게 됩니다.
        //var pop = window.open("/popup/jusoPopup.jsp","pop","scrollbars=yes, resizable=yes");
    }

    /** API 서비스 제공항목 확대 (2017.02) **/
    function jusoCallBack(roadFullAddr, roadAddrPart1, addrDetail, roadAddrPart2, engAddr, jibunAddr, zipNo) {
        // 팝업페이지에서 주소입력한 정보를 받아서, 현 페이지에 정보를 등록합니다.
        $("#roadAddrPart1").val(roadAddrPart1);
        $("#roadAddrPart2").val(roadAddrPart2);
        $("#addrDetail").val(addrDetail);
        $("#zipNo").val(zipNo);
    }


</script>
</html>
