<!DOCTYPE html>
<html th:xmins xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/fragments/header :: header"/>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <ul th:replace="admin/fragments/sidebar :: sidebar"/>

    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>


                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>


                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${username}">Douglas McGee</span>
                            <img class="img-profile rounded-circle"
                                 src="/img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/member/logout">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">


                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">멤버 목록</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>오더 ID</th>
                                    <th>멤버 ID</th>
                                    <th>대표 상품 이름</th>
                                    <th>오더 상태</th>
                                    <th>배송 주소</th>
                                    <th>배송 상태</th>
                                    <th>삭제</th>

                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="order : ${orderDto}">
                                    <td class="orderId" th:text="${order.orderId}">오더 ID</td>
                                    <td th:text="${order.memberId}">멤버 Id</td>
                                    <td th:text="${order.orderItems[0].item.name}">대표 상품 이름</td>
                                    <td>
                                        <select id="selectOrderStatus" name="orderStatus" class="form-control">
                                            <option th:each="status : ${T(com.vkrh0406.shop.domain.OrderStatus).values()}"
                                                    th:value="${status}"
                                                    th:text="${status}"
                                                    th:selected="${order.orderStatus.name()==status.name()}"
                                                    th:style="${order.orderStatus.name()==status.name()} ? 'color: #0a53be' : '' "
                                            >
                                            </option>
                                        </select>

                                    </td>
                                    <td th:text="${order.delivery.address.addrPart1 + ' ' + order.delivery.address.addrPart2 + ' ' + order.delivery.address.addrDetail + ' ' +
                                    order.delivery.address.zipcode}"></td>
                                    <td>
                                        <select id="selectDeliveryStatus" name="deliveryStatus" class="form-control">
                                            <option th:each="status : ${T(com.vkrh0406.shop.domain.DeliveryStatus).values()}"
                                                    th:value="${status}"
                                                    th:text="${status}"
                                                    th:selected="${order.delivery.status.name()==status.name()}"
                                                    th:style="${order.delivery.status.name()==status.name()} ? 'color: #0a53be' : '' "
                                            >
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <button type="button"
                                                th:onclick="|location.href='@{/admin/order/delete/{orderId}(orderId=${order.orderId})}'|"
                                                class="order-buttons">
                                            삭제
                                        </button>


                                    </td>

                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center"
                            th:with="start=${T(Math).floor(orderDto.number/10)*10},
                last=(${start + 9 < orderDto.totalPages ? start + 9 : orderDto.totalPages})">
                            <li class="page-item">
                                <a class="page-link" th:href="@{/admin/order/list(page=0)}" aria-label="First">
                                    <span aria-hidden="true">First</span>
                                </a>
                            </li>
                            <li class="page-item" th:class="${orderDto.first} ? 'disabled'">
                                <a class="page-link"
                                   th:href="${orderDto.first} ? '#' : @{/admin/order/list(page=${orderDto.number-1})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"
                                th:each="page: ${last>=orderDto.totalPages}  ? ${#numbers.sequence(start,last-1)} : ${#numbers.sequence(start,last)}"
                                th:class="${page== orderDto.number} ? 'page-item active'">
                                <a class="page-link" th:href="@{/admin/order/list(page=${page})}" th:text="${page+1}">
                                </a>
                            </li>
                            <li class="page-item" th:class="${orderDto.last} ? 'disabled'">
                                <a class="page-link"
                                   th:href="${orderDto.last} ? '#' : @{/admin/order/list(page=${orderDto.number+1})}"
                                   aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="@{/admin/order/list(page=${orderDto.totalPages-1})}"
                                   aria-label="Last">
                                    <span aria-hidden="true">Last</span>
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>


                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; bootShop 2021</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="/vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="/js/demo/chart-area-demo.js"></script>
        <script src="/js/demo/chart-pie-demo.js"></script>



</body>

<script>

    // 오더 상태 수정하면 자동 업데이트
    $(function() {
        $("#selectOrderStatus").on("change",function(){


            let orderId = $(this).parent().siblings(".orderId").text();

            console.log(orderId);

            let orderStatus=$(this).children("option:selected").val();


            // 세션 업데이트 해야하므로 해당 오더아이템id 와 변경된 숫자를 같이 post로 보내줍니다..
            $.post("/admin/order/updateOrderStatus",
                {orderId: orderId , orderStatus: orderStatus},
                function (data,status){
                    //$("#text").html(data + "<br>" + status);
                }
            )

        });
    });

    // 배송 상태 수정하면 자동 업데이트
    $(function() {
        $("#selectDeliveryStatus").on("change",function(){


            let orderId = $(this).parent().siblings(".orderId").text();
            let deliveryStatus=$(this).children("option:selected").val();

            console.log(orderId);

            // 세션 업데이트 해야하므로 해당 오더아이템id 와 변경된 숫자를 같이 post로 보내줍니다..
            $.post("/admin/order/updateDeliveryStatus",
                {orderId: orderId , deliveryStatus: deliveryStatus},
                function (data,status){
                   // $("#text").html(data + "<br>" + status);
                }
            )

        });
    });

</script>

</html>
