<!DOCTYPE html>
<html th:xmins xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/fragments/header :: header"/>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <ul th:replace="admin/fragments/sidebar :: sidebar"/>

    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>


                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>


                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${username}">Douglas McGee</span>
                            <img class="img-profile rounded-circle"
                                 src="/img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/member/logout">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Section-->
                <section class="py-5">
                    <div class="container">

                        <div class="py-5 text-center">
                            <h2>아이템 등록폼</h2>
                        </div>
                        <form enctype="multipart/form-data" th:object="${itemForm}" method="post">
                            <div class="row justify-content-center" th:if="${#fields.hasGlobalErrors()}">
                                <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                                   th:text="${err}">전체 오류 메시지</p>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <label for="itemName">아이템 이름</label>
                                    <input type="text" id="itemName" th:field="*{itemName}" class="form-control"
                                           th:errorclass="field-error">
                                    <div class="field-error" th:errors="*{itemName}"/>
                                </div>

                                <div class="col-lg-8">
                                    <label for="category">아이템 카테고리</label>
                                    <select th:field="*{categoryId}" id="category">
                                        <option th:each="category : *{categories}" th:value="${category.id}" th:text="${category.name}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-lg-8">
                                    <label for="price">원래 가격</label>
                                    <input type="text" id="price" th:field="*{price}"
                                           class="form-control"
                                           th:errorclass="field-error">
                                    <div class="field-error" th:errors="*{price}"/>
                                </div>
                                <div class="col-lg-8">
                                    <label for="discountPrice">할인된 가격 (할인없으면 0으로)</label>
                                    <input type="text" id="discountPrice" th:field="*{discountPrice}"
                                           class="form-control"
                                           th:errorclass="field-error">
                                    <div class="field-error" th:errors="*{discountPrice}"/>
                                </div>
                                <div class="col-lg-8">
                                    <label for="quantity">아이템 잔고</label>
                                    <input type="text" id="quantity" th:field="*{quantity}"
                                           class="form-control"
                                           th:errorclass="field-error">
                                    <div class="field-error" th:errors="*{quantity}"/>
                                </div>
                                <div class="col-lg-8">
                                    <label for="ratingStar">아이템 평점 (예) 1)</label>
                                    <input type="text" id="ratingStar" th:field="*{ratingStar}"
                                           class="form-control"
                                           th:errorclass="field-error">
                                    <div class="field-error" th:errors="*{ratingStar}"/>
                                </div>
                                <div class="col-lg-8">
                                    <label th:for="content">아이템 이미지파일</label>
                                    <input type="file"  style="margin: 0px; height: 50px; width: 100% ;" th:field="*{imageSource}" class="form-control"
                                           placeholder="내용을 입력하세요"/>
                                    <p th:if="${#fields.hasErrors('imageSource')}"
                                       th:errors="*{imageSource}">Incorrect date</p>
                                </div>
                            </div>
                            <hr class="my-4">
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <button class="w-100 btn btn-primary btn-lg" type="submit">
                                        등록
                                    </button>
                                </div>
                                <div class="col-4">
                                    <button class="w-100 btn btn-secondary btn-lg"
                                            onclick="location.href='items.html'" th:onclick="|location.href='@{/}'|"
                                            type="button">취소
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </section>






            </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; bootShop 2021</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="/vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="/js/demo/chart-area-demo.js"></script>
        <script src="/js/demo/chart-pie-demo.js"></script>



</body>

<script>

    // 오더 상태 수정하면 자동 업데이트
    $(function() {
        $("#selectOrderStatus").on("change",function(){


            let orderId = $(this).parent().siblings(".orderId").text();

            console.log(orderId);

            let orderStatus=$(this).children("option:selected").val();


            // 세션 업데이트 해야하므로 해당 오더아이템id 와 변경된 숫자를 같이 post로 보내줍니다..
            $.post("/admin/order/updateOrderStatus",
                {orderId: orderId , orderStatus: orderStatus},
                function (data,status){
                    //$("#text").html(data + "<br>" + status);
                }
            )

        });
    });

    // 배송 상태 수정하면 자동 업데이트
    $(function() {
        $("#selectDeliveryStatus").on("change",function(){


            let orderId = $(this).parent().siblings(".orderId").text();
            let deliveryStatus=$(this).children("option:selected").val();

            console.log(orderId);

            // 세션 업데이트 해야하므로 해당 오더아이템id 와 변경된 숫자를 같이 post로 보내줍니다..
            $.post("/admin/order/updateDeliveryStatus",
                {orderId: orderId , deliveryStatus: deliveryStatus},
                function (data,status){
                   // $("#text").html(data + "<br>" + status);
                }
            )

        });
    });

</script>

</html>
